/*
Site:	四川省学校文化建设研究会
Author:	Tanjia
Updated:	2013-11-18
*/
/*-----reset-----*/
body,h1,h2,h3,h4,h5,h6,hr,p,blockquote,dl,dt,dd,ul,ol,li,pre,form,fieldset,legend,button,input,textarea,table,th,td,section,article,aside,header,footer,nav,dialog,figure{margin:0; padding:0;}
body,button,input,select,textarea{font:12px/22px \5FAE\8F6F\96C5\9ED1,verdana,\5b8b\4f53,sans-serif;}
section,article,aside,header,footer,nav,dialog,figure{display:block;}
table{border-collapse:collapse; border-spacing:0px;}
fieldset,img{border:0px;} 
address,caption,cite,code,dfn,em,th,var,i{font-weight:normal; font-style:normal;}
code,kbd,pre,samp{font-family:courier new,courier,monospace;}
ol,ul{list-style:none;} 
caption,th{text-align:left;}
h1,h2,h3,h4,h5,h6{font-weight:normal; font-size:100%;} 
q:before,q:after{content:”;} 
abbr,acronym{border:0px;}
select,input,button,button img,textarea,label,img{margin:0px; vertical-align:middle;}

body{color:#444; background:#fbfbfb url('../images/header_bg.jpg') center 0 no-repeat;}
a,a:visited{text-decoration:none; color:#444;}
a:hover{text-decoration:underline; color:#0075c1;}
.c-yellow,.c-yellow:hover,.c-yellow:visited{color:#ffe400;}
.c-blue,.c-blue:hover,.c-blue:visited{color:#0075c1;}
.c-red,.c-red:hover,.c-red:visited{color:#df4f4b;}
.summary{color:#666;}
.m-pic{margin:0 0 10px 0; border:1px #e5e5e5 solid;}
.clear{height:0px; line-height:0px; font-size:0px; overflow:hidden; clear:both; display:block;}
.clearfix:after{clear:both; height:0; overflow:hidden; display:block; visibility:hidden; content:".";}
.info-user,.info-time{padding:0 0 0 15px; color:#bebebe; cursor:pointer;}
	.info-user{background:url('../images/ico_user.gif') 0 3px no-repeat;}
	.info-time{margin:0 0 0 20px; background:url('../images/ico_time.gif') 0 3px no-repeat;}


.section-layout{clear:both;}
.m-article,.m-main,.m-side,.m-content{float:left;}
.m-article{width:300px;}
.m-main{width:420px; margin:0 10px;}
.m-side{width:260px;}
.m-content{width:720px; margin:0 0 0 20px;}
.content{width:1000px; margin:0 auto;}
.header{margin:0 0 20px 0;}
	.header .head-main{width:1000px; margin:0 auto;}
	.header .logo{display:block; margin:15px 0 15px 60px;}
.nav{height:50px; line-height:50px; background:url('../images/nav_bg.gif') 0 0 repeat-x;}
	.nav ul{width:1000px; margin:0 auto;}
	.nav li{float:left; width:125px; text-align:center; font-size:18px;}
		.nav li.current{background:url('../images/nav_current.gif') center 0 no-repeat;}
		.nav li a{color:#fff; text-decoration:none;}
			.nav li.current a,.nav li a:hover{text-shadow:5px 0 5px #333; color:#ffe400;}
.slide{position:relative; width:1000px; height:360px; overflow:hidden; margin:0 auto;}
	.slide .slide-photo{}
		.slide .slide-photo li{width:1000px; height:360px; overflow:hidden; color:#fff; background:#02557f;}
			.slide .slide-photo li img{float:left; margin:0 20px 0 0;}
			.slide .slide-photo li h3{padding:20px 20px 10px 0; line-height:30px; text-align:center; font-size:32px; font-weight:bold;}
			.slide .slide-photo li h4{padding:0 20px 10px 0; line-height:36px; text-align:center; font-size:28px;}
			.slide .slide-photo li .summary{padding:0 20px 0 0; line-height:26px; font-size:14px; color:#fff;}
	.slide .slide-triggers{position:absolute; right:20px; bottom:20px; height:15px;}
		.slide .slide-triggers li{float:left; width:15px; height:15px; margin:0 0 0 5px; border-radius:15px; background:#fff; cursor:pointer;}
		.slide .slide-triggers li.current{background:#ffe400;}
	.slide .prev,.slide .next{position:absolute; width:30px; height:85px; top:135px; cursor:pointer;}
	.slide .prev{left:0px; background:url('../images/btn_prev.png') 0 0 no-repeat;}
	.slide .next{right:0px; background:url('../images/btn_next.png') 0 0 no-repeat;}
.box{margin:0 0 20px 0;}
.box.skin-a{}
	.box .hd{height:38px; line-height:38px; }
	.box.skin-a .hd{border-left:1px #e5e5e5 solid; border-right:1px #e5e5e5 solid; border-top:2px #0075c1 solid; background:#fff;}
	.box.skin-b .hd{border-top:2px #0075c1 solid; background:url('../images/crumbs_bg.gif') 0 0 repeat-x;}
		.box .hd h3{padding:0 0 0 10px; font-size:20px; color:#0075c1;}
	.box .bd{}
	.box.skin-a .bd{padding:10px 9px 9px; border:1px #e5e5e5 solid; border-top:none; background:#fff;}
	.box .shadow{height:20px; background:url('../images/projection_r.png') right 0 no-repeat;}
		.box .shadow i{display:block; height:20px; background:url('../images/projection_l.png') left 0 no-repeat;}
.top-line{margin:0 0 15px 0;}
	.top-line h3{height:28px; overflow:hidden; margin:0 0 15px 0; line-height:28px; text-align:center; font-size:18px;}
	.top-line img{float:left; margin:0 10px 0 0;}
	.top-line .summary{height:85px; overflow:hidden;}
.list-f14{}
	.list-f14 li{height:28px; overflow:hidden; padding:0 0 0 15px; line-height:28px; font-size:14px; background:url('../images/ico_point.gif') 5px 14px no-repeat;}
.list-photo{}
	.list-photo li{float:left; width:215px; overflow:hidden; margin:0 10px 0 0;}
		.list-photo li span{display:block; height:30px; overflow:hidden; line-height:30px; text-align:center; font-size:14px;}
.list-graphic{}
	.list-graphic li{position:relative; padding:20px 0 20px 180px; border-bottom:1px #dfdfdf dashed;}
		.list-graphic li img{position:absolute; margin:0 0 0 -180px; padding:2px; border:1px #dfdfdf solid;}
		.list-graphic li h3{height:28px; overflow:hidden; line-height:28px; font-size:16px;}
		.list-graphic li .summary{height:66px; overflow:hidden; margin:0 0 5px 0;}

.scroll-photo{position:relative;}
	.scroll-photo .btn-prev,.scroll-photo .btn-next{position:absolute; width:20px; height:31px; top:65px; cursor:pointer; background:url('../images/btn_scroll.png') -999em 0 no-repeat;}
	.scroll-photo .btn-prev{left:9px; background-position:0 -31px;}
	.scroll-photo .btn-prev:hover{background-position:0 0;}
	.scroll-photo .btn-next{right:9px; background-position:-20px -31px;}	
	.scroll-photo .btn-next:hover{background-position:-20px 0;}
.searchs{margin:35px 0 60px; text-align:center;}
.searchs p{ font-size:24px; line-height:36px; color:#0076c0; margin-bottom:25px;}
.search{margin:0 0 10px 0; padding:5px; background:#ececec;}
	.search.search404{ width:515px; margin:0 auto;}
	.search .ipt-search{width:184px; height:30px; padding:0 5px; line-height:30px; border:1px #d5d5d5 solid; border-right:none; border-radius:5px 0 0 5px; color:#bebebe; background:#fff;}
  .ipt-search.search404{width:444px;}
	.search .btn-search{width:54px; height:32px; border:1px #d5d5d5 solid; border-left:none; border-radius:0 5px 5px 0; font-size:14px; color:#fff; background:url('../images/btn_search.gif') 0 0 no-repeat; cursor:pointer;}
.site-bottom{padding:20px 0; background:#e4e4e4;}
	
.contact{float:right; width:280px; margin:0 0 20px 0; padding:0 0 0 30px; line-height:26px; background:url('../images/border_y.gif') 0 0 repeat-y;}
	.contact img{margin:0 0 20px 0;}
.nav-site{}
	.nav-site li{float:left; width:100px; margin:0 70px 0 0; padding:60px 0 0 0; text-align:center;}
	.nav-site li.a{background:url('../images/f_bg_1.png') center 0 no-repeat;}
	.nav-site li.b{background:url('../images/f_bg_2.png') center 0 no-repeat;}
	.nav-site li.c{background:url('../images/f_bg_3.png') center 0 no-repeat;}
		.nav-site li a{display:block; line-height:26px;}
.friend{clear:both; margin:10px 0 0 0;}
	.friend .hd{height:30px; line-height:30px; background:url('../images/border_x.gif') 0 16px repeat-x;}
		.friend .hd h3{display:inline-block; font-size:14px; font-weight:bold; background:#e4e4e4;}
	.friend .bd{line-height:26px;}
		.friend .bd a{display:inline-block; margin:0 5px;}
.copyright{width:1000px; margin:0 auto; padding:30px 0 30px; text-align:center;}
.side-nav-wrap{margin:0 0 10px 0; padding:5px; background:#f0f0f0;}
.side-nav{padding:20px; border:1px #d9d9d9 solid; background:#fff;}
	.side-nav li{margin:0 0 1px 0;}
		.side-nav li a:hover{text-decoration:none;}
		.side-nav li span{display:block; height:38px; padding:0 0 0 65px; border-radius:15px; line-height:38px; font-size:16px; cursor:pointer;}
		.side-nav li.shrink span{background:url('../images/s_nav_bg.gif') 0 0 no-repeat;}
		.side-nav li.shrink dl{display:none;}
		.side-nav li.expand span{background:url('../images/s_nav_current.gif') 0 0 no-repeat;}
		.side-nav li.expand dl{display:block;}
			.side-nav li.expand span a{color:#fff;}
	.side-nav dd{height:34px; margin:0 15px; padding:0 0 0 50px; line-height:34px; border-bottom:1px #dfdfdf dashed; background:url('../images/ico_point.gif') 40px 17px no-repeat;}
	.side-nav dd.current a{font-weight:bold; color:#0075c1;}
.detail-wrap{padding:0 20px 20px 20px; border:1px #e5e5e5 solid; border-top:2px #0075c1 solid; background:#fff url('../images/crumbs_bg.gif') 0 0 repeat-x;}
.crumbs{margin:10px 0; padding:0 0 0 20px; font-size:14px; color:#0075c1; background:url('../images/ico_crumbs.gif') 0 6px no-repeat;}
	.crumbs a,.crumbs span{margin:0 5px;}
	.crumbs span{color:#0075c1;}
.detail-header{margin:0 0 20px 0; padding:20px 0; border-bottom:1px #e5e5e5 dashed;}
	.detail-header h3{margin:0 0 15px; text-align:center; font-size:24px;}
	.detail-header p{text-align:center;}
.detail-text{line-height:30px; font-size:14px;}
	.detail-text img{margin:10px auto;}	
.q-link{height:22px; overflow:hidden; margin:10px 0 0 0; padding:10px 0 0 0; border-top:1px #dedede solid; color:#0075c1;}
	.q-link em{float:right; width:350px; text-align:right; background:#fff;}
.search-term{padding:30px 10px; border-bottom:1px #dedede solid; text-align:center; font-size:24px;}
.m-pages{clear:both; height:26px; overflow:hidden; margin:10px 0 0 0; padding:5px 0; text-align:center; font-family:\5FAE\8F6F\96C5\9ED1;}
	.m-pages span,.m-pages a{display:inline-block; height:24px; margin:0 2px; padding:0 10px; line-height:24px; background:#f3f6ef; border-radius:3px;}
	.m-pages span.current{color:#fff; background:#0075C1;}
.footer{margin:50px 0 0 0;}















#introduction .summary{line-height:24px;}
#member{margin-bottom:0px;}
	#member .scroll-wrap{width:890px; height:190px; overflow:hidden; margin:0 auto;}
	#member .bd{}




